<% include ../index %>


<div class="container">
    <div class="row">
        <div class="column-1 dashboard-div"  style="background-color:#aaa;">
            <span><a href="/exam-history">exam history</a></span>
        </div>
        <div class="column-1 dashboard-div" style="background-color:#bbb;">
            <span id="myBtn"><a >show Test</a></span>
        </div>
    </div>
</div>

<!-- MODAL -->
<% include ./modal %>

</body>
<% include ../include/footer.ejs %>

</html>