<% include ../index %>
<div class="container">
    <div class="row course-histroy-div">
        <div class="column-1">
                <h5 class="dashboard-div">Course :-</h5> 
                <h5 class="dashboard-div">Test Date :-</h5> 
                <h5 class="dashboard-div">Score :-</h5> 
                <h5 class="dashboard-div">Remark :-</h5> 

                <h5 class="dashboard-div">Course :-</h5> 
                <h5 class="dashboard-div">Test Date :-</h5> 
                <h5 class="dashboard-div">Score :-</h5> 
                <h5 class="dashboard-div">Remark :-</h5> 

        </div>
        <div class="column-1">
                <h5 class="dashboard-div"> Java</h5>
                <h5 class="dashboard-div"> 13-Nov-2019</h5>
                <h5 class="dashboard-div"> 82</h5>
                <h5 class="dashboard-div"> PASS</h5>
                <h5 class="dashboard-div"> DBMS</h5>
        </div>
    </div>
</div>

</body>
<% include ../include/footer.ejs %>

</html>


