<% include ../index %>



<div class="test-page-div">
    <div class="card">
        <div class="card-content">
            <h1><b>Score: 82 </b></h1>
            <h2>Remarks: <span class="score-card-remark">PASS</span></h2>
            <p>Architect & Engineer</p>
        </div>

        <button><a href="/" class="score-page-btn" style="float: right;">Take next test</a></button>
    </div>
</div>


</body>
<% include ../include/footer.ejs %>

</html>